*{
    margin: 0;
    padding: 0;

}

#cabecalho a{
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 40px;
    font-weight: bold;
    padding-left: 60px;


}


#frota{
    padding-top: 100px;
    padding-left: 200px;
}

.banner{
    padding-left: 123px;
}



.banner2{
    padding-top: 10px;
    padding-left: 10%;
}

