*{
    margin: 0;
    padding: 0;

}

#cabecalho{
    
}

a{
    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 40px;
    font-weight: bold;
    padding-left: 60px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text
}


#frota{
    padding: 200px;
}

.banner{
    padding-left: 123px;
}



.banner2{
    padding-top: 10px;
    padding-left: 13%;
}

